/*Page de liste des films*/

/* PAGINATION */
.pagination:first-of-type{
	margin-bottom: 3rem;
}

.pagination:last-of-type{
	margin-top: 3rem;
}

.pagination ul{
	display: inline-block;
	margin-bottom: 1rem;
	padding-left: 0;
	border-radius: .5rem;
	border: #A81501 ridge .4rem;
}

.pagination ul li{
	display: inline-block;
	padding: .5rem 1rem;
	border-left: #A81501 solid .3rem;
}

.pagination ul li:first-child{
	border-left: none;
}

.pagination ul li.current{
	background-color: #A81501;
	border-left: none;
}

.pagination ul li.current + li{
	border-left: none;
}

.pagination ul li a{
	text-decoration: none;
	color: #A81501;
}

.pagination ul li.current b{
	color: white;
}


/* FIGNETTES DES FILMS */
#vignettes{

}

.vignette{
	position: relative;
	padding-top: 40%;
	margin-bottom: 3rem;
}

.vignette div{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.vignette div.back{
	transform: rotateY(-180deg);
	background-color: #141b69;
}

.vignette div.front:hover{
	transform: rotateY(180deg);
	-webkit-transition-duration: 3s;
	-o-transition-duration: 3s;
	transition-duration: 3s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

div.front:hover + div.back{
	transform: rotateY(0deg);
	-webkit-transition-duration: 3s;
	-o-transition-duration: 3s;
	transition-duration: 3s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.vignette div img{
	display: block;
	width :100%;
	height:100%;
	object-fit: cover;
}


.vignette div p{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
}

.vignette div a{
	color: #fff;
}



/*************************************/
/***********  Page de view ***********/
/*************************************/
#conteneurAffiches{

}


.affiche{
	display: none;
	overflow: hidden;
}

#mainAffiche{
	z-index: 1;
	display: block;
}

.affiche > img{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
	object-fit:cover;
	top:0px;
}

@media (max-width: 99.1rem) {
	.affiche img{
		max-width: 540px;
		max-height: 800px;
	}
}



/* Miniatures des affiches */

#covers{
	width: 100%;
	overflow-x: scroll;
}

#covers ul{
	padding-left: 0;
	flex-wrap: nowrap;
	display: flex;
}

#covers ul li.mini{
	display: inline-block;
	height: 100px;
	margin-left: 10px;
	min-width: 70px;
	margin-top: 5px;
	cursor: pointer;
}

#covers ul li.mini:first-child{
	margin-left: 0;
}

#covers ul li.mini img{
	width: 100%;
	height: 100%;
}

.synopsis{
	max-height: 300px;
	overflow-y: auto;
}

#informations p > a{
	text-decoration: none;
}

#informations p > a:hover{
	text-decoration: underline;
}

#form_perso{
	display: none;
}

#form_perso input, #form_perso select{
	display: inline-block;
	width: 60%;
	border: 3px solid black;
	padding:10px;
}

#form_perso input[type="submit"]{
	width: 35%;
	margin-top: 2rem;
	background-color: white;
	cursor: pointer;
}


@media (max-width: 991px) {
	#covers{
		order: -1;
	}

	/* Informations */
	#informations > div:first-child > div:nth-child(3){
		width: 100%;
	}

	#informations > div:first-child > div{
		min-width: 160px;
	}
}

@media (max-width: 543px){
	#form_perso input, #form_perso select, #form_perso input[type="submit"]{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}



/* Bande Annonce */
#menuBA{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#menuBA > div{
	flex: 1 1 0%;
	text-align: center;
	min-width: 20rem;
}

#menuBA >  div > a, #menuBA > div > button, #btn-hero{
	padding:10px 15px;
	border: 2px solid black;
	border-radius: 15px;
	line-height: 5rem;
	text-decoration: none;
}

#menuBA > div > button{
	background-color: white;
	line-height: inherit;
}

#menuBA >  div:hover > a, #menuBA > div:hover > button, #btn-hero:hover{
	border-color: #A81501;
	color: #A81501;
}

#bande_annonce{
	padding: 10px 0;
	display: none;
}

#blogvision{
	position: relative;
	padding-top: 75%;
}

#bande_annonce iframe{
	position: absolute;
	width: 100%;
	height: 75%;
	top: 0;
	left: 0;
}

#form_cover{
	display: none;
}