section #list_persos{
	padding-left: 0;
}

section #list_persos li{
	position: relative;
	margin-bottom: 2rem;
	min-height: 100px;
}


section #list_persos li:nth-child(3n):hover{
	background-color: white;
	border: solid 3px #A81501;
}

section #list_persos li:nth-child(3n){
	background-color: #A81501;
}

section #list_persos li:nth-child(3n+1):hover{
	background-color: white;
	border: solid 3px #141B69;
}

section #list_persos li:nth-child(3n+1){
	background-color: #141B69;
}

section #list_persos li:nth-child(3n+2):hover{
	background-color: white;
	border : solid 3px green;
}

section #list_persos li:nth-child(3n+2){
	background-color: green;
}

section #list_persos li img{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	object-fit: cover;
	width: 100px;
	height: 100px;
}

section #list_persos li a{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: block;
	width: 100%;
	padding:1rem;
	color: #A0A8AD;
	text-decoration: none;
}

section #list_persos li:hover a{
	color: inherit;
	text-decoration: underline;
}





/* BOUTON D AJOUT */
section p#btn-ajout{
	position: fixed;
	right: 20px;
	top: 50vh;
	background-color: #A0A8AD;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	margin:0;
}

section #btn-ajout a{
	display: block;
	color: white;
	font-size: 5rem;
	line-height: 5rem;
	margin:7px 10px;
}

section #btn-ajout a i{

}





/* ******************* */
/* MEDIA QUERIES */
/* ******************* */

@media (max-width: 767px){
	section p#btn-ajout{
		right: -3.5rem;
	}

	section p#btn-ajout:hover{
		right: d0;
	}
}

@media (max-width: 543px) {
	section #list_persos li{
		width: 100%;
	}

	
}